/.angular/cache
# Misc
/bin
/bower_components
/node_modules
/target
/nbproject

my-build.json
build.properties

# Visual Code
.vscode
andre-winkler-it.code-workspace

# Eclipse
.project
.classpath

# Node
npm-debug*
/dist
package-lock.json

# Angular
.angular
