<div>
    <h1>Zitate</h1>
    <blockquote>
        <p>
            Zwei Dinge sind zu unserer Arbeit nötig: Unermüdliche Ausdauer und die Bereitschaft, etwas, in das man viel Zeit und Arbeit
            gesteckt hat, wieder wegzuwerfen.
        </p>
    </blockquote>
    <blockquote>
        <p>
            Um an die Quelle zu kommen, muss man gegen den Strom schwimmen.
        </p>
    </blockquote>
    <blockquote>
        <p>
            Es ist von großem Vorteil, die Fehler, aus denen man lernen kann, recht früh zu machen.
        </p>
    </blockquote>
    <blockquote>
        <p>
            Die Aufgabe ist verdammt schwierig. Das Timing ist verdammt schwierig. Der Auftraggeber ist verdammt schwierig. Klingt nach
            einem Routinejob.
        </p>
        <small>Mercedes-Benz</small>
    </blockquote>
    <blockquote>
        <p>
            Ackern und düngen ist besser als beten und singen.
        </p>
    </blockquote>
    <blockquote>
        <p>
            Einen Vorsprung im Leben hat, wer da anpackt, wo die anderen erst einmal reden.
        </p>
        <small>J.F. Kennedy</small>
    </blockquote>
    <blockquote>
        <p>
            Im Leben gibt es etwas Schlimmeres als keinen Erfolg zu haben: Das ist, nichts unternommen zu haben.
        </p>
        <small>Franklin D. Roosevelt</small>
    </blockquote>
</div>
