<app-navbar></app-navbar>

<div class="bs-docs-header">
    <div class="container">
        <div id="awtools-header">
            <h1>Andre Winkler</h1>
            <p class="lead">Software Entwickler</p>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<!--

    </div>

<div class="container">
    <p>
        Umgesetzt mit <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a>
    </p>
    <p>Gebaut mit Computerunterstützung.</p>
    <p>
        <a href="http://kombjuda.blogspot.de/">Kombjuda Blog</a> &middot;
        <a href="http://www.jawattdenn.de/">Jawattdenn</a> &middot;
        <a href="http://www.logolars.de/">Logolars</a>
    </p>
</div>
-->
