<app-navbar></app-navbar>

<div class="bs-docs-header">
    <div class="container">
        <div id="awtools-header">
            <h1>Andre Winkler</h1>
            <p class="lead">IT Beratung</p>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<!--
<div>
            <a id="cite"></a>
            <h1>Zitate</h1>
            <blockquote>
                <p>
                    Zwei Dinge sind zu unserer Arbeit nötig: Unermüdliche Ausdauer und die Bereitschaft, etwas, in das man viel Zeit und Arbeit
                    gesteckt hat, wieder wegzuwerfen.
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Um an die Quelle zu kommen, muss man gegen den Strom schwimmen.
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Es ist von großem Vorteil, die Fehler, aus denen man lernen kann, recht früh zu machen.
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Die Aufgabe ist verdammt schwierig. Das Timing ist verdammt schwierig. Der Auftraggeber ist verdammt schwierig. Klingt nach
                    einem Routinejob.
                </p>
                <small>Mercedes-Benz</small>
            </blockquote>
            <blockquote>
                <p>
                    Ackern und düngen ist besser als beten und singen.
                </p>
            </blockquote>
            <blockquote>
                <p>
                    Einen Vorsprung im Leben hat, wer da anpackt, wo die anderen erst einmal reden.
                </p>
                <small>J.F. Kennedy</small>
            </blockquote>
            <blockquote>
                <p>
                    Im Leben gibt es etwas Schlimmeres als keinen Erfolg zu haben: Das ist, nichts unternommen zu haben.
                </p>
                <small>Franklin D. Roosevelt</small>
            </blockquote>

            <a id="contact"></a>
            <h1>Impressum</h1>
            <p>
                Andre Winkler<br />
                Mensingstr 29a<br />
                21079 Hamburg<br /> <br />
                Mail: mail [at] andre-winkler.de<br /> <br />
                Mobil: +49-176-48 57 90 88<br />
                Festnetz: +49-40 76 75 16 24<br /> <br />
                USt.-IdNr. DE274066804<br /> <br/>
                Meine <b>Gulp ID</b> lautet <b>108590</b>.
            </p>
            <h1>Haftungshinweis</h1>
            <p>
                Die Fehlerfreiheit und Genauigkeit der Informationen auf dieser Website kann nicht garantiert werden. Jegliche Haftung
                für Schäden, die direkt oder indirekt aus der Benutzung dieser Website entstehen, ist ausgeschlossen. Andre Winkler
                übernimmt zudem keine Haftung für die Inhalte externer Links, noch werden die Informationen oder Inhalte außerhalb
                dieser Website kontrolliert. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
            </p>
    </div>

<div class="container">
    <p>
        Umgesetzt mit <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a>
    </p>
    <p>Gebaut mit Computerunterstützung.</p>
    <p>
        <a href="http://kombjuda.blogspot.de/">Kombjuda Blog</a> &middot;
        <a href="http://www.jawattdenn.de/">Jawattdenn</a> &middot;
        <a href="http://www.logolars.de/">Logolars</a>
    </p>
</div>
-->
