<app-navbar></app-navbar>

<div class="bs-docs-header">
    <div class="container">
        <div id="awtools-header">
            <h1>Andre Winkler</h1>
            <p class="lead">IT Beratung</p>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<!--
            <a id="contact"></a>
            <h1>Impressum</h1>
            <p>
                Andre Winkler<br />
                Mensingstr 29a<br />
                21079 Hamburg<br /> <br />
                Mail: mail [at] andre-winkler.de<br /> <br />
                Mobil: +49-176-48 57 90 88<br />
                Festnetz: +49-40 76 75 16 24<br /> <br />
                USt.-IdNr. DE274066804<br /> <br/>
                Meine <b>Gulp ID</b> lautet <b>108590</b>.
            </p>
            <h1>Haftungshinweis</h1>
            <p>
                Die Fehlerfreiheit und Genauigkeit der Informationen auf dieser Website kann nicht garantiert werden. Jegliche Haftung
                für Schäden, die direkt oder indirekt aus der Benutzung dieser Website entstehen, ist ausgeschlossen. Andre Winkler
                übernimmt zudem keine Haftung für die Inhalte externer Links, noch werden die Informationen oder Inhalte außerhalb
                dieser Website kontrolliert. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
            </p>
    </div>

<div class="container">
    <p>
        Umgesetzt mit <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a>
    </p>
    <p>Gebaut mit Computerunterstützung.</p>
    <p>
        <a href="http://kombjuda.blogspot.de/">Kombjuda Blog</a> &middot;
        <a href="http://www.jawattdenn.de/">Jawattdenn</a> &middot;
        <a href="http://www.logolars.de/">Logolars</a>
    </p>
</div>
-->
