<div>
    <h1>Impressum</h1>
    <p>
        Andre Winkler<br />
        Mensingstr 29a<br />
        21079 Hamburg<br /> <br />
        Mail: mail [at] andre-winkler.de<br /> <br />
        Mobil: +49-176-48 57 90 88<br />
        Festnetz: +49-40 76 75 16 24<br /> <br />
        USt.-IdNr. DE274066804<br /> <br/>
    </p>
    <h2>Haftungshinweis</h2>
    <p>
        Die Fehlerfreiheit und Genauigkeit der Informationen auf dieser Website kann nicht garantiert werden. Jegliche Haftung
        für Schäden, die direkt oder indirekt aus der Benutzung dieser Website entstehen, ist ausgeschlossen. Andre Winkler
        übernimmt zudem keine Haftung für die Inhalte externer Links, noch werden die Informationen oder Inhalte außerhalb
        dieser Website kontrolliert. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
    <h2>DSGVO</h2>
    <ul>
        <li>Auf den Server-Logs finden sich die IP Adressen der Besucher. Diese werden regelmäßig gelöscht.</li>
        <li>Alle gespeicherten Cookies finden sich unten in der tabellarischen Aufzählung wieder.</li>
        <li>Cookies werden gespeichert, um Besucher zu identifizieren, die der Speicherung von Cookies
            zugestimmt haben.
        </li>
    </ul>

    <!-- Off Canvas Element fuer den Cookie Banner?
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
        Toggle bottom offcanvas
    </button>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small">
        ...
      </div>
    </div>
    -->

    <h2>Twitter</h2>
    <p>
        <twitter-follow-button></twitter-follow-button>
    </p>
    <h2>Cookies</h2>
<div>
</div>
    <table class="table condensed">
        <thead>
            <tr>
                <td><b>Key</b></td>
                <td><b>Value</b></td>
                <td>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="refresh()">Aktualisieren</button>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!hasCookies()">
                <td>Es sind keine Cookies vorhanden.</td><td></td><td></td>
            </tr>
            <tr *ngFor="let cookie of cookies; let index = index">
                <td>{{cookie.key}}</td>
                <td>{{cookie.value}}</td>
                <td>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="remove(cookie.key)">Entfernen</button>
                    <!--
                    <a href="#" class="btn btn-secondary btn-sm custom-btn-minus" tabindex="-1" role="button" aria-disabled="true">
                    </a>
                    -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
