<div>
    <h1>Impressum</h1>
    <p>
        Andre Winkler<br />
        Mensingstr 29a<br />
        21079 Hamburg<br /> <br />
        Mail: mail [at] andre-winkler.de<br /> <br />
        Mobil: +49-176-48 57 90 88<br />
        Festnetz: +49-40 76 75 16 24<br /> <br />
        USt.-IdNr. DE274066804<br /> <br/>
        Meine <b>Gulp ID</b> lautet <b>108590</b>.
    </p>
    <h2>Haftungshinweis</h2>
    <p>
        Die Fehlerfreiheit und Genauigkeit der Informationen auf dieser Website kann nicht garantiert werden. Jegliche Haftung
        für Schäden, die direkt oder indirekt aus der Benutzung dieser Website entstehen, ist ausgeschlossen. Andre Winkler
        übernimmt zudem keine Haftung für die Inhalte externer Links, noch werden die Informationen oder Inhalte außerhalb
        dieser Website kontrolliert. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
    <h2>DSGVO</h2>
    <ul>
        <li>Auf den Server-Logs finden sich die IP Adressen der Besucher. Diese werden regelmäßig gelöscht.</li>
        <li>Die gespeicherten Cookies finden sich unten in der Aufzählung wieder.</li>
        <li>Cookies werden gespeichert, um Bentzer zu identifizieren.</li>
    </ul>
    <h2>Cookies</h2>
<div>
</div>
    <div *ngIf="hasCookies()">
        <table class="table condensed">
            <thead>
                <tr>
                    <td><b>Key</b></td>
                    <td><b>Value</b></td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" (click)="refresh()">Aktualisieren</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cookie of cookies; let index = index">
                    <td>{{cookie.key}}</td>
                    <td>{{cookie.value}}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" (click)="remove(cookie.key)">Entfernen</button>
                        <!--
                        <a href="#" class="btn btn-secondary btn-sm custom-btn-minus" tabindex="-1" role="button" aria-disabled="true">
                        </a>
                        -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!hasCookies()">
        Es sind keine Cookies vorhanden.
    </div>
</div>
