.navbar-inverse .navbar-inner {
    background-color: #333300;
    background-image: linear-gradient(to bottom, #333300, #33330F);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333300), to(#33330F));
    background-repeat: repeat-x;
    border-color: #252525;
}

.jumbotron {
    background-color: #333300; /*#1B1B1B;*/
    background-image: url(./../img/aw_logo.png), linear-gradient(to bottom, #333B00, #33330F);
    background-image: url(./../img/aw_logo.png), -webkit-gradient(linear, left top, left bottom, from(#333B00), to(#33330F));
    /* linear-gradient(to bottom, #222222, #111111); */
    background-repeat: repeat-x;
    /*border-color: #252525;*/
    /*
    background: none repeat scroll 0 0 #333300;
    -moz-linear-gradient(white 0%, #9FBFD2 100%);
    background-image: url(./../img/aw_logo.png);
    */
    background-repeat: no-repeat;
	
    background-position: 90% 55%;
}

@media(min-width: 997px) {
    .masthead  {
	padding: 100px 10% 60px;
	/*padding-top: 100px;*/
	/*height: 250px;*/
	margin:  0px;
	}
}

@media (max-width: 767px) {
	.masthead {
		padding: 100px 20px 60px;
		margin-top: -20px;
		margin-right: -20px;
		margin-left: -20px;
	}
}

/*
.masthead {
	padding: 100px 0 60px;
}
*/

.jumbotron h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    color: #FFFFFF;
	padding: 40px 0px 10px;
	margin: 0px;
}

.lead {
    color: #FFFFFF;
}
