<app-spinner [enabled]="!ready"/>
<div>
    <h1>Verschiedenes</h1>
    <p>
        Tipps, Hinweise, Beispiele,...
    </p>
<!-- Markdown Example
    <h1>Code Examples with Prism.js</h1>
    <div>
        <pre><code class="language-java">
public class HelloWorld &#123;
    public static void main(String[] args) &#123;
        System.out.println("Hello, World");
    &#125;
&#125;
        </code></pre>
        <pre><code class="language-typescript">
public type Person &#123;
    name: string;
    age: number | undefined;
&#125;
        </code></pre>
        <pre><code class="language-xml">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
        </code></pre>
    </div>
--> 
    <h1>Schwerpunkte</h1>
    <div #markdown>
        <markdown [data]="blog"></markdown>
    </div>
</div>