<div>
    <h1>Freiberufliche IT Beratung</h1>
    <p>
        Individueller Entwicklungsprozess? Komplexe Fachlichkeiten? Großes oder kleines Projektteam?
        Schnittstellen zu Fremdsystemen? Modernes Frontend? Gewachsenes Backend?
        Hier sind 18 Jahre Erfahrung mit Java und Oracle.
        Vor Ort verfügbar. 100%. Schwerpunkt Banken.
    </p>
    <h1>Schwerpunkte</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Java</h3>
            <div style="margin: 10px">
                Java 1.1 bis Java X &middot; JUnit &middot; Mockito &middot; Hibernate &middot; Spring &middot; JEE &middot; SOAP &middot;
                REST &middot; JSF &middot; Groovy
            </div>
        </div>
        <div class="col-md-4">
            <h3>Datenbanken</h3>
            <div style="margin: 10px">
                Oracle 9, 10, 11 &middot; PL/SQL &middot; MySQL
            </div>
        </div>
        <div class="col-md-4">
            <h3>Tools</h3>
            <div style="margin: 10px">
                Tomcat &middot; Websphere &middot; JBOSS/Wildfly &middot; IBM Rational Application Developer &middot; Sparx EA &middot; Maven &middot;
                Ant &middot; Eclipse &middot; Netbeans &middot; SoapUI
            </div>
        </div>
        <div class="col-md-4">
            <h3>Web</h3>
            <div style="margin: 10px">
                HTML &middot; CSS &middot; Javascript (Typescript) &middot; Angular
            </div>
        </div>
        <div class="col-md-4">
            <h3>Zertifikate</h3>
            <div style="margin: 10px">
                Diplom Informatiker &middot; Java Certified Programmer &middot; Java Certified Developer &middot; Oracle Certified Master,
                Java EE 5 Enterprise Architect Certification
            </div>
        </div>
        <div class="col-md-4">
            <h3>Tätigkeiten</h3>
            <div style="margin: 10px">
                Anforderungsanalyse &middot; UML und ER Modellierung &middot; Testgetriebene Entwicklung &middot; Automatisierung von Entwicklungstätigkeiten
                &middot; In Vollzeit vor Ort verfügbar &middot;
            </div>
        </div>
    </div>
    <div class="hero-unit">
        <a id="download"></a>
        <h1>Download / Links</h1>
        <p>Alle Informationen in einem Dokument:</p>
        <div class="btn-group">
            <a class="btn btn-primary btn-large" href="./lebenslauf.pdf">PDF</a>
            <!--
            <a class="btn btn-secondary" href="./profil_andre_winkler.doc">Word</a>
            -->
            <a class="btn btn-secondary" href="https://www.gulp.de/gulp2/home/profil/andrewinkler?11">Gulp</a>
            <a class="btn btn-secondary" href="https://www.xing.com/profile/Andre_Winkler">XING</a>
            <a class="btn btn-secondary" href="https://kombjuda.blogspot.de/">Blog</a>
        </div>
    </div>
    <a id="vita"></a>
    <h1>Berufliche Stationen</h1>
    <ul style="list-style-type: none;">
        <li><b>2010 .. heute</b> Freiberuflicher IT Berater.</li>
        <li><b>2002 .. 2010</b> CSC Deutschland GmbH. Früher CSC Ploenzke. Davor Plönzke.</li>
        <li><b>1999 .. 2001</b> ServiceXpert in Hamburg. Ausgründung aus dem MAZ. 2001 aufgekauft von der ESG.</li>
        <li><b>1991 .. 1998</b> Studium in Passau. Informatik mit Nebenfach Wirtschaft, Schwerpunkt Fertigungswirtschaft</li>
    </ul>
</div>