<div>
    <h1>Freiberuflicher Software Entwickler</h1>
    <p>
        Individueller Entwicklungsprozess? Komplexe Fachlichkeiten? Großes oder kleines Projektteam?
        Schnittstellen zu Fremdsystemen? Modernes Frontend? Gewachsenes Backend?
        Hier sind 20 Jahre Erfahrung mit Java und Oracle. Vor Ort verfügbar. 100%.
    </p>
    <h1>Schwerpunkte</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Java</h3>
            <div style="margin: 10px">
                Java 1.0 bis Java 16 &middot;
                Spring &middot;
                SpringBoot &middot;
                JEE &middot;
                JUnit &middot;
                Mockito &middot;
                AssertJ &middot;
                JPA/Hibernate &middot;
                SOAP &middot;
                REST &middot;
                JSF &middot;
                Groovy
            </div>
        </div>
        <div class="col-md-4">
            <h3>Zertifikate</h3>
            <div style="margin: 10px">
                Diplom Informatiker &middot;
                Java Certified Programmer &middot;
                Java Certified Developer &middot;
                Oracle Certified Master, Java EE 5 Enterprise Architect Certification
            </div>
        </div>
        <div class="col-md-4">
            <h3>Tools</h3>
            <div style="margin: 10px">
                Tomcat &middot;
                Websphere &middot;
                JBOSS/Wildfly &middot;
                IBM Rational Application Developer &middot;
                Sparx EA &middot;
                Maven &middot;
                Gradle &middot;
                Docker &middot; 
                Ant &middot;
                Eclipse &middot;
                IntelliJ &middot;
                Netbeans &middot;
                SoapUI
            </div>
        </div>
        <div class="col-md-4">
            <h3>Web</h3>
            <div style="margin: 10px">
                HTML &middot; CSS &middot; Javascript (Typescript) &middot; Angular &middot; 
                Selenium/Webdriver
            </div>
        </div>
        <div class="col-md-4">
            <h3>Datenbanken</h3>
            <div style="margin: 10px">
                Oracle 9, 10, 11 &middot; PL/SQL &middot; MySQL
            </div>
        </div>
        <div class="col-md-4">
            <h3>Tätigkeiten</h3>
            <div style="margin: 10px">
                Software Entwicklung &middot;
                TDD &middot;
                DDD &middot;
                Automatisierung von Entwicklungstätigkeiten
            </div>
        </div>
    </div>
    <div class="hero-unit">
        <a id="download"></a>
        <h1>Download / Links</h1>
        <p>Alle Informationen in einem Dokument:</p>
        <div class="btn-group">
            <a class="btn btn-primary btn-large" href="./profil_andre_winkler.pdf">PDF</a>
            <!--
            <a class="btn btn-secondary" href="./profil_andre_winkler.doc">Word</a>
            -->
            <a class="btn btn-secondary" href="https://www.gulp.de/gulp2/home/profil/andrewinkler?11">Gulp</a>
            <a class="btn btn-secondary" href="https://www.xing.com/profile/Andre_Winkler">XING</a>
            <a class="btn btn-secondary" href="https://kombjuda.blogspot.de/">Blog</a>
        </div>
    </div>
    <a id="vita"></a>
    <h2>Berufliche Stationen</h2>
    <ul style="list-style-type: none;">
        <li><b>2010 .. heute</b> Freiberuflicher Software Entwickler.</li>
        <li><b>2002 .. 2010</b> CSC Deutschland GmbH. Früher CSC Ploenzke. Davor Plönzke.</li>
        <li><b>1999 .. 2001</b> ServiceXpert in Hamburg. Ausgründung aus dem MAZ. 2001 aufgekauft von der ESG.</li>
        <li><b>1991 .. 1998</b> Studium in Passau. Informatik mit Nebenfach Wirtschaft, Schwerpunkt Fertigungswirtschaft</li>
    </ul>
    <h2>Social Media</h2>
    <p>
        <twitter-follow-button></twitter-follow-button>
    </p>
</div>